<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meet & Go Groningen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<nav>
    <a href="/">Home</a>
    <a href="/activities">Activities</a>
    <a href="/categories">Categories</a>
    
    {% if current_user.is_anonymous %}
      <a href="{{ url_for('login') }}">Login</a>
      <a href="/register">Register</a>
      {% else %}
      <a href="{{ url_for('logout') }}">Logout</a>
      {% endif %}
</nav>

<main>
    {% block content %}
    {% endblock %}
</main>

</body>
</html>
